/*colors*/
:root{
    --color-primary: #1e1e1e;
    --color-secondary: #ed4300;
    --color-tertiary: #cbc6c6;
    --color-forth: black;
    --color-font: #ffffff;
    --color-title: #ed4300;
    --font-family: 'poppins', sans-serif;
    --font-family-title: 'Outfit'

}
/*colors*/


.circle {
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center
}

button:hover .circle {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


h1{
    font-family: var(--font-family-title);
    color: var(--color-title);
    font-size: 80px;
}

h2{
    font-family: var(--font-family-title);
    color: var(--color-title);
    font-size: 60px;
    margin: 0;
}

hr{
    width: 100%;
    border: solid 1px var(--color-secondary);
}

.key-word {
    color: var(--color-secondary);
}



/*html*/
html {
    background: var(--color-primary);
    font-family: var(--font-family);
    color: var(--color-font);
}

.lock-scroll {
    overflow: hidden;
}
/*html*/


/*Header*/
header {
    position: fixed;
    /* padding: 2% 0 2%; */
    height: 80px;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--color-primary);
    border-bottom: solid 2px var(--color-secondary);
}
#logo {
    grid-column: 2;
    width: 60px;
}

header li, header a {
    list-style: none;
    margin: 0 10px;
    text-decoration:none;
    color: var(--color-title);
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}
header li:hover, a:hover, button:not(.burger-menu):hover {
    /* color: var(--color-primary); */
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border: solid 1px var(--color-secondary);

}
button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family);
    border-radius: 50px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
}


.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger-menu span {
    width: 2rem;
    height: 0.25rem;
    background: var(--color-title);
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

/* nav ul {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

nav ul.show {
    transform: translateY(0);
} */

/*Header*/


/*Presentation*/


#presentation {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 130px);
}

#presentation-cont {
    display: flex;
}

#presentation-cont>div {
    flex: 0 0 calc(50% - 40px);
    padding: 20px;
    height: 100%
}


.presentation-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#presentation-cont .logo {
    width: 125px;
}

#presentation-cont div:nth-child(2) {
    display: flex;
    justify-content: end;
}
.My-animal-crossing-2 {
    width: min(90%, 400px);
    object-fit: contain;
}
#decouvrir::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color-primary);
    margin-left: 10px;
}

#decouvrir:hover::after {
    border-top: 10px solid var(--color-secondary);
}

.logo{
    width: 25%;
}


/*Portfolio*/
#portfolio {
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 5vh 10vh;
}

#portfolio article:nth-child(odd) {
    flex-direction: row-reverse;
}

#portfolio h3 {
    margin: 0;
    font-size: 30px;
}

#portfolio h4 {
    margin: 0;
    font-size: 15px;
}

#portfolio article>div:not(.popup) {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

#portfolio article>div:nth-child(1) {
   min-width: 365px;
}

#portfolio .project-image {
    align-items: end;
    flex: 0 0 400px !important;
}

#portfolio article img:not(.icon) {
    /* width: calc(90% - 40px); */
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 40px 0 40px;
}

.icon {
    width: 50px;
    border-radius: 0;
}

.plus-techno-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#portfolio li {
    list-style: none;
}

.popup {
    display: none; 
    position: fixed; /* La pop-up est fixée à l'écran */
    z-index: 1; /* La pop-up est au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    overflow: auto; /* Ajoutez un scroll si nécessaire */
    background-color: rgb(0,0,0); /* Couleur d'arrière-plan */
    background-color: rgba(0,0,0,0.4); /* Couleur d'arrière-plan avec opacité */
    backdrop-filter: blur(2px);
}

.popup-content {
    background-color: var(--color-primary);
    margin: 90px auto; /* 5% depuis le haut, centré horizontalement */
    padding: 20px;
    border: 1px solid var(--color-secondary);
    width: 75%; /* Largeur de la pop-up */
    height: 75%; /* Hauteur de la pop-up */
    border-radius: 20px;
    overflow-y: scroll;
    z-index: 2;
}

.close {
    color: var(--color-secondary);
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*compétences*/

#competences {
    padding: 90px 20px 20px 20px;
}

#carousel {
    /* border: solid; */
    --carousel-height: 450px;
    --carousel-width: calc(20vw + 617px);
    overflow: hidden;
    margin-top: 50px;
}
#carousel-container {
    align-items: center;
    justify-self: center;
    display: flex;
    min-height: var(--carousel-height);
    margin: 0 auto;
    max-width: var(--carousel-width);
    perspective: 1000px; /* Ajout de la perspective pour l'effet 3D */
    /* width: fit-content; */
    overflow: hidden;
    gap: 10vw;
}

.carousel-item {
    height: 115px;
    position: relative; /* Position relative pour positionner correctement les faces avant et arrière */
    transform-style: preserve-3d; /* Préserve l'effet 3D lors de la transformation */
    border: solid 2px var(--color-secondary);
    border-radius: 10px;
    transition: transform 1s;
    flex: 0 0 115px;
    cursor: pointer;
}

.is-flipped{
    transform: rotateY(180deg); /* Rotation de la carte lors du survol */
}

.carousel-item > div {
    
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute; /* Position absolue pour superposer les faces avant et arrière */
    backface-visibility: hidden; /* Cache la face arrière lorsqu'elle n'est pas face à l'écran */
    cursor: pointer;
}


.carousel-item:not(.active) > div img {
    width: 60%;
    object-fit: cover;
}

.carousel-item .back {
    transform: rotateY(180deg); /* Rotation de la face arrière pour qu'elle soit face à l'écran lors de la rotation de la carte */
}
.item-info{
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

.carousel-item:not(.active) h3, .carousel-item:not(.active) .progress-bar {
    display: none;
}

.carousel-item h3 {
    margin: 0;
    font-size: 30px;
}

.active{
    height: 400px;
    opacity: 1;
    flex: 0 0 375px;
    border-radius: 20px;
    transition: transform 1s;
    cursor: pointer;
}

.active img {
    height: calc(100% - 90px);
    width: 90%;
    object-fit: contain;
}

.progress-bar {
    width: 90%;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 50px;
    border: solid 1px var(--color-secondary);
    margin: 10px 0;
}

.progress-bar .progress {
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.button-dec {
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    justify-content: center;
    gap: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -250px);
}

.button button {
    font-size: 40px;
}

.prev, .next {
    border-radius: 50%;
    overflow: hidden;
}

/*Mes expériences*/
#Mes-experiences {
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-tertiary);
    height: 80vh;
}
.cercle-experience{
    background-color: var(--color-primary);
    border: solid red;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: -20vw;
    z-index: 1;
}
/*Footer*/

a {
    color: var(--color-secondary);
}
footer li {
    list-style-type: none;
}

@media screen and (max-width:670px) {
    nav ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 53% !important;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        font-size: 40px;
        font-weight: bold;
        justify-content: start;
        align-items: start;
        background-color: var(--color-primary);
    }
    
    nav ul.show {
        left: 0;
        opacity: 1;
        z-index: 1;
    }

    .burger-menu {
        display: flex;
    }

    #presentation {
        height: fit-content;
    }
    #presentation-cont {
        flex-direction: column;
    }
    #presentation-cont div:nth-child(2) {
        justify-content: center;
    }
}
@media screen and (max-width:500px) {
    .button {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        gap: 50px;
    }
}

/* 850px */
@media screen and (max-width:850px) {

    #competences {
        padding: 90px 0px 0px 0px;
    }

    #carousel-container {
        --carousel-width: min(90%, 375px);
        margin: 0;
        position: relative;
        left: 50%;
        transform: translateX(-45%);
    }
    
    .prev, .next {
        display: none;
    }

    .active{
        flex: 0 0 min(90%, 375px);
    }

    #portfolio article>div {
        padding: 0 !important;
    }

    .project-image img {
        width: 90vw !important;
        border-radius: 0;
    }
}

/*Footer*/
footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    border-top: solid 2px var(--color-secondary);
    background-color: black;
}